PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ciphersqlstudio?retryWrites=true&w=majority
DATABASE_URL=postgres://<username>:<password>@localhost:5432/ciphersqlstudio_app
GEMINI_API_KEY=your_gemini_api_key
FRONTEND_URL=https://your-frontend-site.vercel.app
